<!--<form action="pos/delete/{{this.sku}}?_method=DELETE" method="POST">-->
<form action="/pos/delete" method="POST">
    <!-- option 2, pass in the id of the cat inside the form - you would access this in the route using req.body.id not req.params.id -->
     <input type="hidden" name="sku" value="{{this.sku}}">
    <button class="btn btn-danger btn-xs pull-right"><span class="glyphicon glyphicon-trash"></span></button>
</form>